.card-item {
  background: url('/img/general/cards-bg.png') no-repeat left top;
  background-size: contain;
  min-width: 750px;
  padding: 20px 0;
  margin: 20px 10px;
  height: 80%;
  
  .card {
    margin: 0;
    height: 340px;
    width: 230px;
    opacity: 0;
  }

  .back {
    height: 340px;
    width: 230px;
  }

  .back,
  .card {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 110px;
  }

  .card-item--inner {
    position: relative;
  }

  .active {
    right: 380px;
    opacity: 1;
    transition: all .7s ease;
  }
}