.card-item {
  background: url('/img/general/cards-bg.png') no-repeat left top;
  background-size: contain;
  width: 100%;
  padding: 20px 0;
  margin: 20px 10px;
  height: 100%;
  position: relative;
  
  .card {
    margin: 0;
    height: 340px;
    width: 230px;
    opacity: 0;
  }

  .back {
    height: 340px;
    width: 230px;
  }

  .back,
  .card {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 12%;
    border-radius: 10px;
  }

  .card-item--inner {
    position: relative;
  }

  .active {
    right: 52%;
    opacity: 1;
    transition: all .7s ease;
  }
}