* {
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
}

.container {
  width: 95%;
  max-width: 1170px;
}

#logo {
  font-size: 40px;

  span {
    display: block;
  }
}

#main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#app {
  height: 100vh;
  background: no-repeat left left;
  background-size: cover;

}

.content {
  width: 60%;
  min-height: 500px;
}

.icon-money {
  height: 20px;
  width: 25px;
}

.money-text {
  display: flex;
  align-items: center;
}